<h1>All Authors</h1>
<%# link_to "all Nebula winners", @books.where(award: "Nebula") %>
<%# link_to "all Hugo winners", @books.where(award: "Hugo") %>
<ul>
  <% @authors.each do |author| %>
  <% author_name = "#{author.first_name} #{author.last_name}" %>
  <% author_years = "#{author.birth_year}-#{author.death_year}" %>
    <li>
      <%= link_to author_name, author_path(author.id) %> (<%=author_years%>), born in <%= author.birth_place %>
    </li>
  <% end %>
  <% if @authors.size == 0 %>
    <p>
      No authors found.
    </p>
  <% end %>
</ul>
