<section class="index-content">
  <h1 class="index-header">All Awards</h1>

  <% @awards.each do |award_category, list| %>
  <h2>
    <%= award_category %>
  </h2>
  <% if !list.any? %>
  <p class="none-found">
    No awards found.
  </p>
  <% else %>
  <table class="award-table index-table">
    <tr class="centered">
      <th>
        Year
      </th>
      <th>
        Book
      </th>
      <th>
        Author
      </th>
    </tr>
    <% list.each do |award| %>
    <tr>
      <td>
        <%= award.year.year %>
      </td>
      <td>
        <%= link_to award.book.title, book_path(award.book.id) %>
      </td>
      <td>
        <ul>
          <% award.book.authors.each do |author| %>
          <li>
            <%= link_to author.full_name, author_path(author.id) %>
          </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </table>
  <% end %>


  <% end %>
</section>
