<h1>All Years</h1>
<%# link_to "all Nebula winners", @books.where(award: "Nebula") %>
<%# link_to "all Hugo winners", @books.where(award: "Hugo") %>
<ul>
  <% @books.each do |book| %>
    <% author = book.author %>
    <% author_name = "#{author.first_name} #{author.last_name}" %>
    <li>
      <%= link_to book.title, book_path(book.id) %>, by <%= link_to author_name, author_path(author.id) %>
    </li>
    <li>
      <% year = book.year %>
      <% book_year = year.year %>
      won the <%= book.award %> in <%= book_year %>.
    </li>
  <% end %>
</ul>
