/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* colors */
/*med-dark-blue: #006FB2;
pale-blue: #B3E2FF;
med-blue: #009EFF;
med-dark-gold-brown: #B26800;
med-sand: #FFA426;*/

@import url('https://fonts.googleapis.com/css?family=Alice|Baloo+Bhai|Bungee+Shade|Cabin+Sketch|Crimson+Text|Faster+One|Fugaz+One|Play');

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #006FB2;
}

header {
  background-color: #FFA426;
  position: fixed;
  /*height: 100px;*/
  width: 100%;
  display: block;
  z-index: 1;
}

footer {
  background-color: #FFA426;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;

}

footer ul {
  display: block;
  text-align: center;

}

footer li {
  display: inline-block;
  padding: 0 30px;
  padding-top: 15px;
}

.content {
  padding-top: 150px;
  position: relative;
  overflow: scroll;
  margin-bottom: 100px;
}

.main-app-header {
  font-family: "Fugaz One";
  font-size: 3vw;
  display: block;
  text-align: center;
}

.top-bar-nav {
  display: block;
  text-align: center;
}

.top-bar-nav li {
  display: inline-block;
}

.top-bar-nav li a {
  font-family: "Baloo Bhai";
  padding: 0 10px;
  text-align: center;
}

.top-nav {
  padding: 10px 0;
}

/*index*/

.index-content {
  display: block;
  text-align: center;
}
.index-table  {
  text-align: left;
}

.centered {
  text-align: center;
}

th {
  font-size: 1.5em;
}
