<%= form_for @year do |f| %>
  <ul>
    <li>
      <%= f.label :year %>
      <%= f.text_field :year %>
    </li>
    <li>
      <%= f.submit "save" %>
    </li>
  </ul>


<% end %>
<%# select("author", "name", Author.all.collect { |author| author.name }, {prompt: 'select author'}) %>
