<section class="contact-page">
  <h2 class="contact-header">Contact me!</h2>
  <p>
    Find a mistake in a book or author entry? Or just have a question or request? Drop me a line!
  </p>
  <%= render partial: "form" %>
</section>
